$high-emph: #8CA87C;
$med-emph: #414B3B;
$low-emph: #8CA87C;
$dark-grey: #3A3A3A;

$overlay: #FFF9F3;
$overlay-light: #8CA87C;
$accent: #8CA87C;

@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

body,
input,
textarea,
select,
button {
color: $accent !important;
background-color: #FFF9F3!important;
font-family: "Inter", sans-serif;
}

.site-title,
.site-nav a,
.page-link {
color: $accent !important;
font-weight: bolder !important;
text-decoration: none;
}

.site-title:hover,
.page-link:hover {
text-decoration: underline;
}

.site-nav {
background-color: #FFF9F3;
border-color: #FFF9F3 !important;
}

pre,
code {
border-color: $overlay-light;
background-color: #FFF9F3;
color: $accent;
}

.page-description {
color: $med-emph;
}

.post-meta {
color: $low-emph;
}

.post-content p,
.post-content li {
color: $accent;
}

.btn {
background-color: $overlay !important;
color: $accent !important;
border-color: $overlay-light !important;
}

.btn:hover {
background-color: $accent !important;
}

table {
overflow: hidden;
background-color: #FFF9F3;
}

table th {
border-color: $overlay-light;
color: $accent;
background-color: #FFF9F3;
}

table td {
border-color: $overlay-light;
color: $accent;
}

.flash {
color: $dark-grey !important;
filter: brightness(80%);
}

canvas {
filter: invert(100%);
}
